button, .button {
	margin: 10px 0px;
	padding: 8px 10px;
	font-size: 1.1rem;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #383838;
	margin-right: 5px;
}

@mixin button-bg($bg) {
	background: $bg;
	&:hover {
		background:darken($bg,8%);
		transition: all 0.3s ease;
	}
	&:active {
		background:darken($bg,25%);
	} 
}

$buttonType: (
reg: $colorAside,
ing: $colorHeader,
env: $colorButtonEnv
);

@each $name, $value in $buttonType {
	.btn-#{$name} {
		@extend .button;
		@include button-bg($value);
	}
}