footer {
	padding: 15px;
	background-color: #F8F9D7;
	color: rgb(52, 49, 49);
    nav{
        li{
            list-style: none;
            display: inline-block;
            margin-left: 10px;
        }
    }
}