footer {
	padding: 15px;
	background-color: $colorFooter;
	color: rgb(52, 49, 49);
    nav{
        li{
            list-style: none;
            display: inline-block;
            margin-left: 10px;
        }
    }
}

.social{
    li{
        list-style: none;
        display: inline-block;
        margin-left: 10px;
    }
}

ul{
    margin-bottom: 0px;
}