/*Variables Fonts*/
$mainFontFamily: 'Josefin Sans', sans-serif;
$mainFontSize: 14px;
$mainFontColor: #383838;

/* Variables Cards */
$borderRadiusCard: 5px;
$paddingCard: 10px;
$cardBoxShadow: 4px 4px 4px 0px rgba(133,128,128,0.75);
$cardPPadding: 10px;
$cardPMargin: 5px;

/* Variables Colores*/
$colorHeader:lightblue;
$colorFooter:#F8F9D7;
$colorAside:#D9F8C4;
$colorButtonEnv:#3eb7ae;
$colorCardNotHover:#C4D7E0;
$colorCardHover:#B2C8DF;
$colorHeader: lightblue;