/*Variables Fonts*/
$mainFontFamily: 'Josefin Sans', sans-serif;
$mainFontSize: 14px;
$mainFontColor: #383838;

/* Variables Cards */
$borderRadiusCard: 5px;
$paddingCard: 10px;
$cardBoxShadow: 4px 4px 4px 0px rgba(133,128,128,0.75);
$cardPPadding: 10px;
$cardPMargin: 50px;